<ul class="card-list-small">
    <li>
        <a [routerLink]="'create'">
            <div class="ship-card-small clearfix">
                <img src="/assets/unknown.png">
                <p class="h4">Create new</p>
            </div>
        </a>
    </li>
    <li *ngFor="let ship of shipList">
        <a [routerLink]="'detail/' + ship.id">
            <div class="ship-card-small clearfix"><img *ngIf="ship.class === 'Small'" src="/assets/small.png">
                <img *ngIf="ship.class === 'Medium'" src="/assets/medium.png">
                <img *ngIf="ship.class === 'Large'" src="/assets/large.png">
                <p class="h4">{{ship.name}}</p>
            </div>
        </a>
    </li>
</ul>
